.navbar{
    background: #3c763d;
    margin-bottom: 0%; 
    margin-top: 0%; 
    font-size: 18px; 
    padding: 1%;
    
}
.dropdown:hover .dropdown-menu {
    display: block;
}
@media (min-width:767px){
    .navbar-nav{
        float: right;
    }
}

.nav>li>a:focus, .nav>li>a:hover{
        background: white;
    color: #3c763d;
}

a{
    color: white;
    font-size: 15px;
}

.dropdown-menu>li>a :hover{
    background: coral;
}

 .active:hover{
    background: coral;  
   }