 <div id="content" class="content clearfix home back">
        <section id="section" >
            <div class="row">
                <!--<div cla id="face" class="face">
                        <a href="#">
                            <div id="designer" class="designer">
                                <div id="designer-desc" class="description">
                                    <h1>Virtual Visitor</h1>
                                    <p>enjoy our amazing zoo from your place</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div id="coder" class="coder">
                                <div id="coder-desc" class="description">
                                    <h1>Real Visitor</h1>
                                    <p>let us help you to have unforgettable and easy  visit</p>
                                </div>
                            </div>
                        </a>
                        <img id="face-img" class="face-img" src="../../assets/images/adham-dannaway-designer-coder.jpg" alt="">
                        <div id="designer-img" class="designer-img"></div>
                        <div id="coder-img" class="coder-img"></div>
                        <div id="designer-bg" class="designer-bg"></div>
                        <div id="coder-bg" class="coder-bg"></div>
                    </div>-->
                </div>
        </section>
    </div>
 