@import url(https://fonts.googleapis.com/css?family=Varela+Round);



@font-face {
    font-family: 'chawp';
    src: url('../../assets/fonts/chawp.ttf') format('truetype');
}

.design h2{
  color:#1c412a;
  margin-top: 6%;
  line-height: 1;
  font-family:chawp;  
  font-size: 3em;
}

h2::after, h3::after { content: " "; border: solid 2px #1c412a; display: block; width: 50px; margin: 25px auto; }
.section-padding { padding: 90px 0 100px }

.slides{
	text-align:center;
	/*padding:2em 0 6em;*/
}
.slides h5{
        font-family: chawp;
	font-size: 30px;
	color: coral;
	width: 50%;
	margin: 0 auto;
	font-weight: 300;
	line-height: 1.3em;
    margin-top: 3%;
    margin-bottom: 1%    
	/*padding: 1.2em 0 0.6em;*/
}
.slides p{
	font-size: 1.8em;
    color: #777;
    width: 50%;
    margin: 0 auto;
    font-weight: 300;
    line-height: 1.3em;
    /*padding: 0.2em 0 0.6em;*/
    font-family:fb;
}
.slides span{
	font-size:1.5em;
	color:coral;
}


@import url(https://fonts.googleapis.com/css?family=Varela+Round);

.slides {
    padding: 0;
    width: 1000px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 1000px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}


.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }


input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.1);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}