    <!--<link href="../../assets/css/mystyle.css" rel="stylesheet" />-->
        <!--<link href="../../assets/css/didyouknow.css" rel="stylesheet" />-->
        <!--<link href="../../assets/css/font-awesome.css" rel="stylesheet" />-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!--<link href="../../assets/css/home.css" rel="stylesheet" />-->


    <div class="welcome homeSection">
        <div class="welcomelayer">
            <h2>A Very Warm Welcome to Giza Zoo </h2>
            <p>World Famous! the most species-rich zoo worldwide. Discover the wide variety of wildlife in Zoo Berlin, the first
                zoo in Germany. You won't only find just polar bears, elephants, seals, lions or giraffes living here. You
                can also visit many endangered domestic animal breeds here.</p>
        </div>
    </div>