<div class="container">
  <h2 class="text-center">Our Historical Places</h2>
 <div  id="search-form_3">
              <input type="text" class="search_3" placeholder="Search Places" [(ngModel)]="SearchKey">
              <!--<input type="submit" class="submit_3" value="Search" />-->
            </div>
  <div class="row" >
    <div class="col-md-4 col-sm-6 " *ngFor="let place of places | searchPlace:SearchKey" >
      <div class="thumbnail">
        
          <img [src]='place.Image' alt="Lights" style="width:100%; height:260px">
          <!--<img src="./assets/images/lights.jpg" alt="Lights" style="width:100%"></a>-->
          <div class="caption">
         <h4>{{ place.Title }}</h4>
            <p>{{ place.Description }}</p>
          </div>
      </div>
    </div>
  </div>
</div>
