.font{
    color: white;
    font-size: 20px;
    font-family: 'chawp'
}


.fa{
    font-size: 40px;
    text-shadow: 1px 1px 0 #000;
    margin-bottom: 10px;
}
h4{
    font-family: 'chawp'
}

.banner-grid.odd, .banner-grid.even{
    height: 150px;

}
