		<!-- Section: services -->
    <section id="service" class="home-section color-dark bg-gray">
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div>
					<div class="section-heading text-center">
					<h2>Other Zoo</h2>
					<div class="divider-header"></div>
					</div>
					</div>
				</div>
			</div>
		</div>

		<div class="text-center">
		<div class="container">
        <div class="row animatedParent">
            <div class="col-md-4" *ngFor="let z of zoos">
				<div class="rotateInDownLeft">
                <div class="service-box">
					<div class="service-icon">
						<img class="img-circle" [src]='z.Image' alt=""width="50px" height="50px">
					</div>
					<div class="service-desc">						
						<h5>{{ z.Title }}</h5>
						<div class="divider-header"></div>
						<p>
{{ z.Description }}	 <br>
<span>Opening Time:	</span>
{{ z.OpeningTime}} <br>
<span>Closed Time:	</span>	{{ z.ClosedTime}} <br>
<span>Off Day:	</span>	{{ z.offDay}}		</p>
<p>Link Url : {{z.Url}}</p>					</div>
                </div>
				</div>
            </div>
		

        </div>
		
		</div>
		</div>
		
	</section>
    <!-- Core JavaScript Files -->
    
